/*
 * This file contains the generated tailwind container styles.
 * You don't need to use or maintain this file yourself. However, since the
 * frontend.fyi playground uses the Tailwind CDN, and they don't support the
 * container queries yet, we need to generate these styles in order
 * for the playground to show a working demo.
*/
.\@container {
  container-type: inline-size;
}
.\@container\/category {
  container-type: inline-size;
  container-name: category;
}
@container category (min-width: 350px) {
  .\@\[350px\]\/category\:block {
    display: block;
  }
}
@container (min-width: 350px) {
  .\@\[350px\]\:items-start {
    align-items: flex-start;
  }
  .\@\[350px\]\:justify-end {
    justify-content: flex-end;
  }
  .\@\[350px\]\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@container category (min-width: 700px) {
  .\@\[700px\]\/category\:mt-5 {
    margin-top: 1.25rem;
  }
}
@container (min-width: 700px) {
  .\@\[700px\]\:left-\[70\%\] {
    left: 70%;
  }
  .\@\[700px\]\:w-\[30\%\] {
    width: 30%;
  }
  .\@\[700px\]\:w-\[70\%\] {
    width: 70%;
  }
  .\@\[700px\]\:justify-start {
    justify-content: flex-start;
  }
}
